/CopioServer/build/
/CopioClient/build/

/CopioServer/nbproject/private/
/CopioServer/build/
/CopioServer/nbbuild/
/CopioServer/dist/
/CopioServer/nbdist/
/CopioServer/.nb-gradle/
/CopioServer/.xml/
/CopioServer/.mf/

/CopioClient/nbproject/private/
/CopioClient/build/
/CopioClient/nbbuild/
/CopioClient/dist/
/CopioClient/nbdist/
/CopioClient/.nb-gradle/
/CopioClient/.xml/
/CopioClient/.mf/